.form-control{
    background-color: #e0d3be;
    border-color: #340809;
}

.backgroundForm1{
    background-color: #340809 ;
}

.backgroundForm2{
    background-color: #e0d3be ;
}

.fontText{
    color: #340809;
}